@model CheeseMVC.ViewModels.ViewMenuViewModel


@{
    ViewBag.Title = "MENU NAME";
}
@foreach (var menuItem in Model.Items)
{
    <ul>@menuItem.Cheese.Name</ul>
}

<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Item</a></p>